@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body {
  background: #FFFFFF;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  font-size: 18px;
  line-height: 1.4;
}
a {
  transition: all 300ms ease-in;
  text-decoration: none;
  color: #8ea7ff;
  border-bottom: 1px solid #8ea7ff;
}
a:hover {
  border-bottom: 1px solid transparent;
}
.site-wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.site-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  padding: 40px 0;
}
.site-content {
  padding: 40px 0;
}
.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}
.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  margin: 0;
}
.joke-form {
  margin-top: 46px;
  margin-bottom: 40px;
}
.joke-form > label {
  display: block;
  margin-bottom: 15px;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
.joke-form > label:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #ABABAB;
  display: block;
  border-radius: 50%;
  left: 0;
  transition: all 300ms ease-in;
}
.joke-form > [type="radio"] {
  display: none;
}
.joke-form > [type="radio"]:checked + label:before {
  border-color: #333;
}
.joke-form > [type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  left: 7.5px;
  top: 7px;
}
.joke-form > [type="radio"]:checked + label + .joke-toggle {
  transform: scale(1, 1);
  max-height: 150px;
  padding: 5px 0 20px;
}
.joke-toggle {
  transform: scale(1, 0);
  max-height: 0px;
  transform-origin: center top;
  transition: all 300ms ease-in;
}
.joke-cats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.joke-cats [type="radio"] {
  display: none;
}
.joke-cats [type="radio"]:checked + label {
  background: #F8F8F8;
  color: #333;
}
.joke-cat {
  border: 2px solid #F8F8F8;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ABABAB;
  display: block;
  padding: 6px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 300ms ease-in;
  cursor: pointer;
}
.joke-cat:hover {
  background: #F8F8F8;
  color: #333;
}
.joke-single {
  background: #F8F8F8;
  padding: 40px;
  border-radius: 20px;
}
.joke-single__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 60px;
  position: relative;
}
.joke-single__inner:before {
  content: '';
  position: absolute;
  left: 0;
  top: 27px;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 50%;
  background-image: url('../img/message.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.joke-single .joke-cat {
  font-size: 10px;
  line-height: 14px;
  color: #333;
  border: 0;
  background: #fff;
  padding: 6px 20px;
  cursor: default;
}
.joke-like {
  background-image: url('../img/like.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 17px;
  margin-bottom: 10px;
  cursor: pointer;
  align-self: flex-end;
}
.joke-id {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
  margin-bottom: 5px;
}
.joke-id a {
  position: relative;
}
.joke-id a:after {
  content: '';
  width: 10px;
  height: 10px;
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  background-image: url('../img/link.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.joke-text {
  margin-bottom: 28px;
}
.joke-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.joke-updated {
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
}
input[type="search"],
input[type="text"],
input[type="email"] {
  border: 2px solid #333;
  color: #333;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 10px;
  width: 100%;
}
button,
input[type="submit"] {
  background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 10px 40px;
  width: auto;
  display: inline-block;
  border: 0;
  cursor: pointer;
  transition: all 300ms ease-in;
}
button:hover,
input[type="submit"]:hover {
  background: linear-gradient(92.01deg, #7291FF 0%, #7291FF 100%);
}
/*# sourceMappingURL=chuck.css.map */